.steps {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.steps-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.steps-header-design {
    position: relative;
    margin-bottom: 15px;
}

.steps-header-design > .steps-header-line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 6px;
    border-radius: 8px;
    background: linear-gradient(to right bottom, #4ae299, #4ae299, #2196F3);
}

.steps-header-design > .steps-header-title-design {
    margin-left: 100px;
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}

.steps-header > h1 {
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
}

.steps-header > p {
    font-size: 14px;
    color: #999;
}

.steps-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
    border-width: 2px 0 2px;
    border-style: dashed;
    border-color: #222;
}

.steps-question {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.steps-question > p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.steps-question > textarea {
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    resize: vertical;
    font-size: 12px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: none;
    background-color: #151515;
}

.steps-notes {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

.steps-notes > button {
    font-size: 12px;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background-color: #151515;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.steps-notes > button:hover,
.steps-notes > button.active {
    color: #000;
    background: linear-gradient(to right bottom, #4ae299, #4ae299, #2196F3);
}

.steps-footer {
    display: flex;
    gap: 15px; 
    width: 100%;
    justify-content: space-between; 
}

.steps-footer > button {
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(to right bottom, #4ae299, #4ae299, #2196F3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.steps-prev-button {
    color: #fff !important;
    background: #222 !important;
}

@media (min-width: 900px) {
    .steps {
        min-height: auto;
    }
}

@media (max-width: 900px) {
    .steps-notes {
        grid-template-columns: repeat(5, 1fr);
    }
}